$white: #fff;

$grey: #808080; //no needed
$lightGrey: #ececec; //no needed
$classicGrey: #d5d5d5; //borders
$darkGrey: #3c4043; //instead black

$dark-violet-blue: #293dce;
$blue: #325ce8; //hovered items
$sky-blue: #1dadf4;
$light-blue: #f0f7fe;

$red:#ea4335; //red line
$violet: #5320a4;// violet line
$light-violet: #6d49f6;

//text colors:

$text-grey: #70757a;
$text-darkGrey: #3c4043;
$text-white: #fff;